@import './variables';
@import './colors';
@import './spacing';
@import './typography';

html, body{
    height: 100%;
    margin: 0px;
    padding: 0px;
}

*{box-sizing: border-box; margin: 0px;}
a{color: inherit;text-decoration: inherit;}

.cursor-pointer{cursor: pointer}

.objectFit-contain{object-fit: contain;}
.objectFit-cover{object-fit: cover;}
.d-flex{display: flex;}
.justify-content-center{justify-content: center;}
.align-items-center{align-items: center;}

.overlay{ 
    z-index: 2;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba($color: #000000, $alpha: 0.5);
}